# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files (secrets)
.env
.env.local
.env.*.local

# Builds / caches
dist/
build/
.out/
.next/
.cache/
coverage/

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Uploads/temp
uploads/
tmp/
